li {
  overflow-wrap: anywhere;
}

.card-list li.dragging {
  background-color: #ebe5ff;
}

.card-list.dragging-over {
  background-color: #ffebe6;
}

.card-list.dragging-from-with {
  background-color: #e2fcef;
}
